@{

    ViewBag.Title = "Home Page";
    <head>
        <link rel="stylesheet" href="~/Content/StyleSheet/StyleSheetResource.css" type="text/css" />
    </head>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="jumbotron text-center" style="background: linear-gradient(-45deg, #36d1dc, #5b86e5);">
        <h1 style="background-size:auto; font-family:'Lucida Handwriting';">Prometheus</h1>
        <h3>Welcome to Prometheus, a homework Planner!</h3>
        <h3>Login to continue...</h3>
    </div>

}
<style>
    body {
        background-color: #d9dad9;
    }
</style>

